@import "default";

body {
  font-family: "Noto Serif CJK JP",serif;
}

blockquote {
  font-size: 0.6em;
}

section {
  justify-content: start;
}

section h1,
section h2,
section h3 {
  color: green;
}

section.subtitle {
  justify-content: center;
}

section.subtitle h1 {
  justify-content: center;
  color: green;
}
